*.o
*.so
*~
\#*#
.#*
debian/files
debian/nag2mqtt.debhelper.log
debian/nag2mqtt.postinst.debhelper
debian/nag2mqtt.postrm.debhelper
debian/nag2mqtt.prerm.debhelper
debian/nag2mqtt.substvars
debian/nag2mqtt/
debian/.debhelper/
debian/debhelper-build-stamp
